:root {
  // CUSTOM COLOURS
  --colour-text-primary: #2b2a2b;
  --colour-text-secondary: #908989;
  --colour-text-light: #afaaaa;

  --colour-bg-grey: #f2f2f1;
  --colour-bg-green: #c1cece;

  --colour-rust: #be6643;
  --colour-fawn: #c9b6a6;

  --colour-white: #fff;
  --colour-black: #000;

  // FONTS

  --font-serif: 'Neuton', serif;
  --font-sans: 'Mulish', sans-serif;
  --font-caps: 'Montserrat', sans-serif;

  // SPACING
  --spacing-xs: 1.2rem;
  --spacing-sm: 1.8rem;
  --spacing-md: 2.4rem;
  --spacing-lg: 4.2rem;

  // BACKGROUND SHAPE
  --bg-curved: xywh(6rem 0 100% 150% round 3.5rem);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // so 1rem = 10px;
}

body {
  font-family: var(--font-sans);
  color: var(--colour-text-primary);
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.6;
}

// TYPOGRAPHY

%heading {
  font-family: var(--font-serif);
  font-weight: 600;
  line-height: 1;
}

.heading-1 {
  @extend %heading;

  font-size: 8rem;
}

.heading-2 {
  @extend %heading;

  font-size: 5.2rem;
}

p {
  margin-bottom: 1.4rem;
}

.logo-dot {
  color: var(--colour-rust);
}
