@use 'base';

.hero {
  &__content {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    align-items: last baseline;
  }

  // &__logo {
  //   height: 18rem;
  //   width: 18rem;
  //   display: block;
  //   transform: translateY(1.3rem);
  // }

  &__intro {
    display: block;
    font-weight: 300;
  }

  &__heading-1 {
    margin-bottom: var(--spacing-md);
  }

  &__subheading {
    font-size: 2.2rem;
  }
}
